@charset "utf-8";
html,body,div,span,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; border: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none;}
html, body {min-height: 100%;}
html { height:100%; font-size: 20px; font-family: "\5FAE\8F6F\96C5\9ED1"; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
@media only screen and (min-width: 360px) {
	html{font-size:21px;}
}
@media only screen and (min-width: 375px) {
	html{font-size:21.5px;}
}
@media only screen and (min-width: 400px) {
	html{font-size:22.5px;}
}
@media only screen and (min-width: 414px) {
	html{font-size:23px;}
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section, summary {display: block;}
audio, canvas, progress, video {display: inline-block; vertical-align: baseline;}
audio:not([controls]) {display: none; height: 0;}
template {display: none;}
a {background-color: transparent; text-decoration: none;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
dfn {font-style: italic;}
mark {background: #ff0; color: #000;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0; font-size:0; vertical-align:top;}
svg:not(:root) {overflow: hidden;}
figure {margin: 1em 40px;}
hr {box-sizing: content-box; height: 0;}
pre {overflow: auto;}
code, kbd, pre, samp {font-family: monospace, monospace; font-size: 1em;}
button, input, optgroup, select, textarea {color: inherit; font: inherit; margin: 0; -webkit-appearance:none; appearance:none; background-color:#fff; border:none;}
button {overflow: visible;}
button, select {text-transform: none;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer;}
button[disabled], html input[disabled] {cursor: default;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
input {line-height: normal;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
textarea {overflow: auto; resize: none;}
::-webkit-input-placeholder{ color:#bbb;}
table {border-collapse: collapse; border-spacing: 0;}
td,th {padding: 0;}
a,input, textarea, select, button {outline: 0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
ul,ol{ list-style:none;}
i,em,s{ font-style:normal;}
body {position: relative; font-size: .6rem; line-height: 1.5; background:#f4f4f4; color:#444;}
/* float
-----------------------------------------------------------------------------*/
.clearfix:after {visibility:hidden; display:block; font-size:0; content:"."; clear:both; height:0;}
.clearfix {zoom:1;}
.fl, .fr {display:inline;}
.fl {float:left;}
.fr {float:right;}
/* position
-----------------------------------------------------------------------------*/
.c-position-a {position:absolute;}
.c-position-r {position:relative;}
.c-position-f {position:fixed;}
/* base
-----------------------------------------------------------------------------*/
.c-hide {display:none;}
.c-hidden {overflow:hidden; zoom:1;}
.c-boxs {-webkit-box-sizing:border-box;-ms-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.c-main {margin:0 auto;}
.c-nowrap {max-width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.c-nowrap-multi {display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
.c-break {word-break:break-all;}
.c-block {display: block;}
.c-abox {display: -webkit-box; display: box; width: 100%;}
.c-pack {display: box; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center;}
/* border
-----------------------------------------------------------------------------*/
.c-border , .c-border-t , .c-border-b , .c-border-l , .c-border-r , .c-border-tb {border-color:#f4f4f4; border-style:solid;}
.c-border {border-width:1px;}
.c-border-t {border-top-width:1px;}
.c-border-b {border-bottom-width:1px;}
.c-border-l {border-left-width:1px;}
.c-border-r {border-right-width:1px;}
.c-border-tb {border-top-width:1px;border-bottom-width:1px;}
.c-border-d {border-style:dashed;}
/* images  and   radius
-----------------------------------------------------------------------------*/
.c-radius-2 {border-radius:.1rem;}
.c-radius-4 {border-radius:.2rem;}
.c-images-rounded , .border-radius-rounded , .c-radius-5 {border-radius:.25rem;}
.c-images-cycle , .border-radius-circle , .c-radius-50 {border-radius:50%;}
.border-radius-pill, .c-radius-pill {border-radius:100rem;}
.c-images-thumbnail {padding:.25rem;}
.c-images-block {display:block; width:100%; height:100%;}
/* spacing
-----------------------------------------------------------------------------*/
.m0 { margin:0;}.m5 { margin:.25rem;}.m10 { margin:.5rem;}.m15 { margin:.75rem;}.m20 { margin:1rem;}.m25 { margin:1.25rem;}.m30 { margin:1.5rem;}.m35 { margin:1.75rem;}.m40 { margin:2rem;}.m45 { margin:2.25rem;}.m50 { margin:2.5rem;}.m100 {margin:5rem;}
.mb0 { margin-bottom:0;}.mb5 { margin-bottom: .25rem;}.mb10 { margin-bottom: .5rem;}.mb15 { margin-bottom: .75rem;}.mb20 { margin-bottom: 1rem;}.mb25 { margin-bottom: 1.25rem;}.mb30 { margin-bottom: 1.5rem;}.mb35 { margin-bottom: 1.75rem;}.mb40 { margin-bottom: 2rem;}.mb45 { margin-bottom: 2.25rem;}.mb50 { margin-bottom: 2.5rem;}.mb100 {margin-bottom:5rem;}
.mt0 { margin-top:0;}.mt5 { margin-top: .25rem;}.mt10 { margin-top: .5rem;}.mt15 { margin-top: .75rem;}.mt20 { margin-top: 1rem;}.mt25 { margin-top: 1.25rem;}.mt30 { margin-top: 1.5rem;}.mt35 { margin-top: 1.75rem;}.mt40 { margin-top: 2rem;}.mt45 { margin-top: 2.25rem;}.mt50 { margin-top: 2.5rem;}.mt100 {margin-top:5rem;}
.ml0 { margin-left:0;}.ml5 { margin-left: .25rem;}.ml10 { margin-left: .5rem;}.ml15 { margin-left: .75rem;}.ml20 { margin-left: 1rem;}.ml25 { margin-left: 1.25rem;}.ml30 { margin-left: 1.5rem;}.ml35 { margin-left: 1.75rem;}.ml40 { margin-left: 2rem;}.ml45 { margin-left: 2.25rem;}.ml50 { margin-left: 2.5rem;}.ml100 {margin-left:5rem;}
.mr0 { margin-right:0;}.mr5 { margin-right: .25rem;}.mr10 { margin-right: .5rem;}.mr15 { margin-right: .75rem;}.mr20 { margin-right: 1rem;}.mr25 { margin-right: 1.25rem;}.mr30 { margin-right: 1.5rem;}.mr35 { margin-right: 1.75rem;}.mr40 { margin-right: 2rem;}.mr45 { margin-right: 2.25rem;}.mr50 { margin-right: 2.5rem;}.mr100 {margin-right:5rem;}
.mlr0 {margin-left:0; margin-right:0;} .mlr5 {margin-left:.25rem; margin-right:.25rem;}.mlr10 {margin-left:.5rem; margin-right:.5rem;}.mlr15 {margin-left:.75rem; margin-right:.75rem;}.mlr20 {margin-left:1rem; margin-right:1rem;}.mlr25 {margin-left:1.25rem; margin-right:1.25rem;}.mlr30 {margin-left:1.5rem; margin-right:1.5rem;}.mlr35 {margin-left:1.75rem; margin-right:1.75rem;}.mlr40 {margin-left:2rem; margin-right:2rem;}.mlr45 {margin-left:2.25rem; margin-right:2.25rem;}.mlr50 {margin-left: 2.5rem; margin-right: 2.5rem;}.mlr100 {margin-left:5rem; margin-right:5rem;}
.mtb0 {margin-top:0; margin-bottom:0;}.mtb5 {margin-top:.25rem; margin-bottom:.25rem;}.mtb10 {margin-top:.5rem; margin-bottom:.5rem;}.mtb15 {margin-top:.75rem; margin-bottom:.75rem;}.mtb20 {margin-top:1rem; margin-bottom:1rem;}.mtb25 {margin-top:1.25rem; margin-bottom:1.25rem;}.mtb30 {margin-top:1.5rem; margin-bottom:1.5rem;}.mtb35 {margin-top:1.75rem; margin-bottom:1.75rem;}.mtb40 {margin-top:2rem; margin-bottom:2rem;}.mtb45 {margin-top:2.25rem; margin-bottom:2.25rem;}.mtb50 {margin-top: 2.5rem; margin-bottom: 2.5rem;}.mtb100 {margin-top:5rem; margin-bottom:5rem;}
.p0 { padding:0;}.p5 { padding:.25rem;}.p10 { padding:.5rem;}.p15 { padding:.75rem;}.p20 { padding:1rem;}.p25 { padding:1.25rem;}.p30 { padding:1.5rem;}.p35 { padding:1.75rem;}.p40 { padding:2rem;}.p45 { padding:2.25rem;}.p50 { padding: 2.5rem;}.p100 {padding:5rem;}
.pb0 { padding-bottom:0;}.pb5 { padding-bottom: .25rem;}.pb10 { padding-bottom: .5rem;}.pb15 { padding-bottom: .75rem;}.pb20 { padding-bottom: 1rem;}.pb25 { padding-bottom: 1.25rem;}.pb30 { padding-bottom: 1.5rem;}.pb35 { padding-bottom: 1.75rem;}.pb40 { padding-bottom: 2rem;}.pb45 { padding-bottom: 2.25rem;}.pb50 { padding-bottom: 2.5rem;}.pb100 {padding-bottom:5rem;}
.pt0 { padding-top:0;}.pt5 { padding-top: .25rem;}.pt10 { padding-top: .5rem;}.pt15 { padding-top: .75rem;}.pt20 { padding-top: 1rem;}.pt25 { padding-top: 1.25rem;}.pt30 { padding-top: 1.5rem;}.pt35 { padding-top: 1.75rem;}.pt40 { padding-top: 2rem;}.pt45 { padding-top: 2.25rem;}.pt50 { padding-top: 2.5rem;}.pt80 {padding-top:4rem;}.pt100 {padding-top:5rem;}
.pl0 { padding-left:0;}.pl5 { padding-left: .25rem;}.pl10 { padding-left: .5rem;}.pl15 { padding-left: .75rem;}.pl20 { padding-left: 1rem;}.pl25 { padding-left: 1.25rem;}.pl30 { padding-left: 1.5rem;}.pl35 { padding-left: 1.75rem;}.pl40 { padding-left: 2rem;}.pl45 { padding-left: 2.25rem;}.pl50 { padding-left: 2.5rem;}.pl100 {padding-left:5rem;}
.pr0 { padding-right:0;}.pr5 { padding-right: .25rem;}.pr10 { padding-right: .5rem;}.pr15 { padding-right: .75rem;}.pr20 { padding-right: 1rem;}.pr25 { padding-right: 1.25rem;}.pr30 { padding-right: 1.5rem;}.pr35 { padding-right: 1.75rem;}.pr40 { padding-right: 2rem;}.pr45 { padding-right: 2.25rem;}.pr50 { padding-right: 2.5rem;}.pr100 {padding-right:5rem;}
.ptb0 {padding-top:0; padding-bottom:0;}.ptb5 {padding-top:.25rem; padding-bottom:.25rem;}.ptb10 {padding-top:.5rem; padding-bottom:.5rem;}.ptb15 {padding-top:.75rem; padding-bottom:.75rem;}.ptb20 {padding-top:1rem; padding-bottom:1rem;}.ptb25 {padding-top:1.25rem; padding-bottom:1.25rem;}.ptb30 {padding-top:1.5rem; padding-bottom:1.5rem;}.ptb35 {padding-top:1.75rem; padding-bottom:1.75rem;}.ptb40 {padding-top:2rem; padding-bottom:2rem;}.ptb45 {padding-top:2.25rem; padding-bottom:2.25rem;}.ptb50 {padding-top: 2.5rem; padding-bottom: 2.5rem;}.ptb100 {padding-top:5rem; padding-bottom:5rem;}
.plr0 {padding-left:0; padding-right:0;}.plr10 {padding-left:.5rem; padding-right:.5rem;}.plr15 {padding-left:.75rem; padding-right:.75rem;}.plr20 {padding-left:1rem; padding-right:1rem;}.plr25 {padding-left:1.25rem; padding-right:1.25rem;}.plr30 {padding-left:1.5rem; padding-right:1.5rem;}.plr35 {padding-left:1.75rem; padding-right:1.75rem;}.plr40 {padding-left:2rem; padding-right:2rem;}.plr45 {padding-left:2.25rem; padding-right:2.25rem;}.plr50 {padding-left: 2.5rem; padding-right: 2.5rem;}.plr100 {padding-left:5rem; padding-right:5rem;}
/* font
-----------------------------------------------------------------------------*/
.c-family-HelveticaNeue {font-family:Helvetica Neue;}
.c-family-Helvetica {font-family:Helvetica;}
.c-bold {font-weight:bold;}
.c-f10 {font-size:.5rem;}
.c-f12 {font-size:.6rem;}
.c-f13 {font-size:.65rem;}
.c-f14 {font-size:.7rem;}
.c-f15 {font-size:.75rem;}
.c-f16 {font-size:.8rem;}
.c-f17 {font-size:.85rem;}
.c-f18 {font-size:.9rem;}
.c-f20 {font-size:1rem;}
.c-f22 {font-size:1.1rem;}
.c-f24 {font-size:1.2rem;}
.c-f28 {font-size:1.4rem;}
.c-f30 {font-size:1.5rem;}
.c-f32 {font-size:1.6rem;}
.c-f36 {font-size:1.8rem;}
.c-f40 {font-size:2rem;}
.c-f48 {font-size:2.4rem;}
.c-t-left {text-align:left;}
.c-t-center {text-align:center;}
.c-t-right {text-align:right;}
.c-line-h1 {line-height:1.88;}
.c-line-h2 {line-height:2.26;}
/* color and background
-----------------------------------------------------------------------------*/
.c-fff {color:#fff;}
.c-333 {color:#333;}
.c-444 {color:#444;}
.c-555 {color:#555;}
.c-666 {color:#666;}
.c-999 {color:#999;}
.c-f00 {color:#f00;}
.c-f60 {color:#f60;}
.c-bbb{ color:#bbb;}
.c-5b5b5b {color:#5b5b5b;}
.c-909090 {color:#909090;}
.c-ff8100 {color:#ff8100;}
.c-4dcd70 {color:#4dcd70;}
.c-20c000{ color:#20c000;}
.c-red{ color:#ff425d;}
.bgc-fff {background-color:#fff;}
.bgc-f3f3f3 {background-color:#f3f3f3;}
.bgc-f9f9f9 {background-color:#f9f9f9;}
/* css3-Grid
-----------------------------------------------------------------------------*/
.ui-grid { display: -webkit-box; display: box; }
.ui-col-0 { -webkit-box-flex: 0; box-flex: 0; }
.ui-col-1 { -webkit-box-flex: 1; box-flex: 1; }
/* css ui-arrow
-----------------------------------------------------------------------------*/
.ui-arrow, .ui-arrow s { position: relative; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 7px; }
.ui-arrow-r, .ui-arrow-r s { border-left-color: #ddd; border-left-style: solid; }
.ui-arrow-r:empty {border-left-color: #ddd;}
.ui-arrow-r s { border-left-color: #fff; position: absolute; left: -9px; top: -7px; }
.ui-arrow-l, .ui-arrow-l s { border-right-color: #ddd; border-right-style: solid; }
.ui-arrow-l:empty {border-right-color: #ddd;}
.ui-arrow-l s { border-right-color: #fff; position: absolute; right: -9px; top: -7px; }
.ui-arrow-t, .ui-arrow-t s { border-bottom-color: #ddd; border-bottom-style: solid; }
.ui-arrow-t:empty {border-bottom-color: #ddd;}
.ui-arrow-t s { border-bottom-color: #fff; position: absolute; left: -7px; top: -5px; }
.ui-arrow-b, .ui-arrow-b s { border-top-color: #ddd; border-top-style: solid; }
.ui-arrow-b:empty {border-top-color: #ddd;}
.ui-arrow-b s { border-top-color: #fff; position: absolute; left: -7px; bottom: -5px; }
.ui-arrow-circle { line-height: 100%; overflow: hidden; font-family: Tahoma, Helvetica; font-size: 18px; color: #cdcdcd; }
/* css c-btn
-----------------------------------------------------------------------------*/
.c-btn{ display:block; height:2rem; line-height:2rem; text-align:center; border-radius:1rem; font-size:.75rem; color:#fff;}
.c-btn-blue{ background:#0093ff;}
.c-btn-blue:active{ background:#028aee;}
.c-btn-red{ background:#ff425d;}
.c-btn-red:active{ background:#f32442;}
.c-btn-gray{ background:#bebebe;}
.c-btn-gray:active{ background:#afa8a8;}
.c-btn.disable{ background:#ddd;}
.btn-radius-lit{ border-radius:.25rem;}

/* radio checkbox */
.input-group-checkbox, .input-group-radio { display: inline-block; position: relative; font-size: .7rem; color: #909090; }
.input-group-checkbox input[type="checkbox"], .input-group-radio input[type="radio"] { position: absolute; opacity: 0; width: 1px; height: 1px; }
.input-group-radio .input-group-pack { width: 20px; height: 20px; background-color: #ffffff; border: 1px #d3d3d3 solid; padding: 0; margin: 0 5px 0 0; position: relative; display: inline-block; vertical-align: middle; border-radius: 5px; overflow: hidden; top: -2px; }
.input-group-radio .input-group-pack { border-radius: 50%; }
.input-group-radio .input-group-pack.input-group-pack-disabled { background-color: #f0f0f0; }
.input-group-radio .input-group-pack .disc { display: block; content: "" !important; width: 0px; height: 0px; border-radius: 50%; background-color: #ff6900; margin: 4px; }
.input-group-radio .input-group-pack.checked .disc { width: 12px; height: 12px; }
.input-group-checkbox .icon-chenggong{ display:inline-block; vertical-align:middle; line-height:1; font-size:1rem; color:#aaa; margin:0 .25rem .1rem 0;}
.input-group-checkbox .checked .icon-chenggong{ color:#ff6900;}
/* css dialog
-----------------------------------------------------------------------------*/
.c-alert-box{ max-width:85%; background:rgba(0,0,0,.6); padding:10px; font-size:.7rem; color:#fff; position:fixed; border-radius:7px; z-index:210; top:50%; margin-top:-30px; word-break:break-all; line-height:1.6;}
.c-load-box{ max-width:70%; background:rgba(0,0,0,.6); padding:18px 30px; font-size:.7rem; color:#fff; position:fixed; border-radius:5px; z-index:209; top:50%; margin-top:-50px; text-align:center;}
.loadgif { display:inline-block; position: relative; overflow: hidden; width: 32px; height: 32px; margin:0 auto; font-size: 0; text-indent: -999em; color: #666;}
.loadgif::after { position: absolute; content: ''; width: 3px; height: 3px; margin: 14.5px 0 0 0; border-radius: 100%; box-shadow: 0 -10px 0 1px #ccc, 10px 0 #ccc, 0 10px #ccc, -10px 0 #ccc, -7px -7px 0 .5px #ccc, 7px -7px 0 1.5px #ccc, 7px 7px #ccc, -7px 7px #ccc; -webkit-transform: rotate(360deg); -webkit-animation: local-loading 1.5s infinite linear; transform: rotate(360deg); animation: local-loading 1.5s infinite linear;}
@-webkit-keyframes local-loading {
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg);}
}
@keyframes local-loading {
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
.c-al-screen{ width:100%; height:100%; background:rgba(0,0,0,0); position:fixed; z-index:208; top:0; left:0;}
.c-conf-box{ width:84%; margin-left:8%; background:#fff; position:fixed; top:50%; margin-top:-70px; left:0px; border-radius:7px; z-index:205; padding-top:15px; animation:confbox .2s ease; -webkit-animation:confbox .2s ease;}
@keyframes confbox{
    0%{ transform: scale(.5);}
    100%{ transform: scale(1);}
}
@-webkit-keyframes confbox{
    0%{ -webkit-transform: scale(.5);}
    100%{ -webkit-transform: scale(1);}
}
.conftitle{ text-align:center; padding:0 15px 0 15px; line-height:22px; font-size:.75rem; font-weight:700;}
.confcontent{ text-align:center; padding:.75rem 1rem 1.5rem 1rem; line-height:1rem; font-size:.75rem; color:#333;}
.c-conf-box .c-confbtn{ width:100%; border-top:1px solid #eee; overflow:hidden;}
.c-conf-box .c-onebtn{ display:block; width:100%; height:2.3rem; line-height:2.3rem; text-align:center; font-size:.75rem; color:#0093ff;}
.c-conf-box .c-twobtn{ display:block; width:49%; height:2.3rem; line-height:2.3rem; text-align:center; font-size:.75rem; float:left; color:#0093ff; border-left:1px solid #eee;}
.c-conf-box .c-twobtn:first-child{ border-left:none;}
.c-conf-screen{ width:100%; height:100%; background:rgba(0,0,0,.5); position:fixed; z-index:200; top:0; left:0;}